@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap");

$font-size-todo: 1.75em;
$font-family: "Outfit", sans-serif;
$font-weight-todo: 300;
$font-color: #d4d2d5;
$background-color: #6e6a6f;
$todo-list-color: #6c698d;
$border-color: #aa968a;
$border: 1px solid $border-color;
$border-radius: 0.25em;
$button-font-color: #6c698d;
$button-background-color: #d4d2d5;
