@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&display=swap");

$font-size-todo: 1.5em;
$font-family: "Outfit", sans-serif;
$font-weight-todo: 300;
$font-color: #535355;
$font-color-button: rgba(0, 0, 0, 0.4);
$todo-item-color: #ffffff;
$background-color: #fafafa;
$border-radius: 10px;
